/* FeaturedProducts.scss */

.featuredProducts {
    margin: 100px 200px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        h1 {
            flex: 2;
            text-transform: capitalize;
        }

        p {
            flex: 3;
            color: gray;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between; /* Ajusta el espacio entre los productos */
        flex-wrap: wrap; /* Para que los productos se ajusten automáticamente en una fila */
    }
}
